*{
    color:#000;
}

body{
    padding: 0;
    margin:0;
}

#header-nav{
    border: 3px solid #000;
    border-radius: 0;
    background-color: gray;
    margin-bottom: 0;
}

.navbar-brand  h1{
    margin: 0;
    padding: 0;
    height: 100%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #000;
}
#collapsable-nav{
    padding:0;
}
#nav-list a {
    color: #000;
    border-bottom: 3px solid black;
    
}
#nav-list li:last-child a{
    border:0;
}
#nav-list{
    margin:0;
    background-color: white;
    
}
#nav-list a:hover {
    background-color: gray;
    color:white;
}

.navbar-default .navbar-toggle{
    border: 3px solid black;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color:black;
    
}

.navbar-default .navbar-collapse{
    border:0;
}

#our-menu{
    font-weight: bold;
}
.content-text{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: grey;
}